AuthType Basic
AuthName "Restricted Access"
# 絶対パスで指定する必要がある
AuthUserFile /path/to/.htpasswd
Require valid-user

<FilesMatch "\.(yaml|log|txt|example)$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.ht.*$">
    Require all denied
</FilesMatch>
